@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url(assets/img22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 20px;
    z-index: -1;
    box-shadow: 10px 10px 20px;

}
.para{
    padding: 80px ;
    margin-top: 80px;
    color: white;
    font-weight: 700px;
    font-family: Sour Gummy;
    font-size: 11px;

}